option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: myproject/wsgi.py

packages:
  yum:
    python36: []

container_commands:
  01_collectstatic:
    Command:"source /opt/python/run/env-name/bin/activate && python project_dir/manage.py collectstatic --noinput"
  02_migrate:
    Command:"source /opt/python/run/env-name/bin/activate && python project_dir/manage.py migrate --noinput"