option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: myproject/wsgi.py

packages:
  yum:
    python36: []

container_commands:
  01_collectstatic:
    Command:"source /opt/python/run/venv/bin/activate && python /opt/python/current/app/manage.py collectstatic --noinput"
  02_migrate:
    Command:"source /opt/python/run/venv/bin/activate && python /opt/python/current/app/manage.py migrate --noinput"
    leader_only: true