.movie-grid {
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}


img.poster {
	float: left;
	max-width: 100%;
	height: auto;
	width: auto;
/*	max-width: 300px;
	max-height: 450px;*/
}

.movie-box {
	position: relative;
	margin: 0 3.5% 1% 3.5%;
}

.caption {
	position: absolute;
	top: 0;
	left: 0;
	max-width: 280px;
	margin: 10px;
	visibility: hidden;
	overflow: hidden;
}

.text {
	color: white;
	text-align: center;
}

.poster-wrapper:hover .caption {
	transition: .5s ease;
	visibility: visible;
}

.poster-wrapper:hover img.poster{
	-webkit-filter: brightness(25%);
	filter:brightness(25%);
}

.movie-data {
	max-width: 300px;
	padding: 10px;
}

span.data-head {
	font-weight: bold !important;
}

.back-to-top:hover a{
	text-decoration: none;
}

/* Responsive Layout */
/* 4 columns */

/* 3 columns */

/* 2 columns */

/* 1 column */
