/* CSS Variables */
:root {
	--primary: #ddd;
	--dark: #333;
	--light: #fff;
	--shadow: 2px 0px 5px rgba(0, 0, 0, 0.4);
    --main-red: #DF2415;
}

#content {
	width: 100%;
}

.movie-grid {
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	justify-items: center;
}

img.poster {
	max-width: 300px;
	max-height: 450px;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
}

.poster-wrapper {
	max-width: 300px;
}

.movie-box {
	position: relative;
	margin: 0 3.5% 1% 3.5%;
	max-width: 300px;
}

.caption {
	position: absolute;
	top: 0;
	left: 0;
	max-width: 280px;
	margin: 10px;
	visibility: hidden;
	overflow: hidden;
}

.text {
	color: white;
	text-align: center;
}

.larger {
	font-size: 25px !important;
}

.poster-wrapper:hover .caption {
	transition: .5s ease;
	visibility: visible;
}

.poster-wrapper:hover img.poster{
	-webkit-filter: brightness(25%);
	filter:brightness(25%);
}

span.movie-title {
	font-weight: bold;
	color: var(--main-red);
	width: 100%;
	text-align: center;
}

.movie-data {
	max-width: 300px;
	padding: 10px;
}

span.data-head {
	font-weight: bold !important;
}

/* Movie grid back to top button */

#scroll-up img {
	display: none;
	position: fixed;
	bottom: 20px;
	right: 30px;
	width: 55px;
	height: 55px;
	z-index: 99;
	cursor: pointer;
}

#scroll-up img:hover {
	-webkit-filter: brightness(70%);
	filter:brightness(70%);
}

/* Pagination Section */
#pagination {
	text-align: center;
}

.pagination .active span,
.pagination .active span:hover {
	background-color: var(--main-red);
	border-color: var(--main-red);
}

.pagination li a,
.pagination li a:hover {
	color: var(--main-red);
}

/* Search */
.clear-filter {
	margin: 0 0 20px 25px;
}

#clear-filter-btn:hover {
	background-color: var(--main-red);
	border-color: var(--main-red);
	color: white;
}

#clear-filter-btn:focus {
	color: white;
}

#clear-filter-btn span {
	padding-left: 10px;
}

/* Responsive Layout */
/* 4 columns */

/* 3 columns */

/* 2 columns */

/* 1 column */
