{% extends "base.html" %}
{% load static %}

{% block title %}Movieflix - Fresh Movies{% endblock %}
{% block css %}
{% endblock %}

{% block content %}
  <section class="movie-grid">
    {% for movie in moviedata %}
      <div class="movie-box">
        <a href="{{ movie.trailer }}">
          <div class="poster-wrapper">
            <img class="poster" src="{{ movie.poster }}">
            <div class="caption">
              {% if movie.synopsis|length > 500 %}
                <p class="text">{{ movie.synopsis|slice:':500' }}<span class="larger">...</span></p>
              {% else %}
                <p class="text">{{ movie.synopsis }}</p>
              {% endif %}
            </div>
          </div>
        </a>
        <div class="movie-data">
          <span class="movie-title">{{ movie.title }}</span>
          <br>
          <hr class="my-2">
          <span class="data-head actors">Actors:</span> {{ movie.actors }}
          <br>
          <img class="score" src="static/images/popcorn.png"> {{ movie.popcorn_score }}
          <img class="score" src="static/images/tomato.png"> {{ movie.tomato_score }}
          <br><span class="data-head releasedate">Release Date:</span> {{ movie.release_date }}
          <br><span class="data-head runtime">Runtime:</span> {{ movie.runtime }}
          <br><span class="data-head rating">Rating:</span> {{ movie.rating }}
        </div>
      </div>
    {% endfor %}
  </section>
  {% include 'pagination.html' %}
  <div id="scroll-up">
    <img src="{% static 'images/scroll-up.png' %}">
  </div>
{% endblock %}