{% load static %}<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movieflix</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/home_page.css' %}">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-5">
      <a class="navbar-brand mx-md-auto" href="#">MovieFlix</a>
    </nav>

    {% block content %}
      <div class="flex-container">
        {% for key,value in moviedata.iterrows %}
          <div class="movie-box">
            <a href="{{ value.mainTrailer }}">
              <div class="poster-wrapper">
                <img class="poster" src="{{ value.poster }}">
                <div class="caption">
                  <p class="text">{{ value.synopsis }}</p>
                </div>
              </div>
            </a>
            <div class="movie-data">
              <div class="wrapper text-center">
                <span class="movie-title font-weight-bold text-danger">{{ value.title }}</span>
                <hr class="my-2">
              </div>
              <span class="data-head actors">Actors:</span> {{ value.actors }}
              <br>
              <img class="score" src="static/images/popcorn.png"> {{ value.popcornScore }}
              <img class="score" src="static/images/tomato.png"> {{ value.tomatoScore }}
              <br><span class="data-head releasedate">Release Date:</span> {{ value.theaterReleaseDate }}
              <br><span class="data-head runtime">Runtime:</span> {{ value.runtime }}
              <br><span class="data-head rating">Rating:</span> {{ value.mpaaRating }}
            </div>
          </div>
        {% endfor %}
      </div>
    {% endblock %}
    <div class="row justify-content-center mb-3 mt-1 px-0 mx-0">
      <button class="back-to-top btn btn-default">
        <a href="#">Back to top</a>
      </button>
    </div>

<!--           <div class="movieblock">
            <div class="imagewrapper">
              <img class="poster" src="{{ value.poster }}" a href="{{ value.mainTrailer }}">
              <a href="{{ value.mainTrailer }}">
                <span class="synopsis">{{ value.synopsis }}</span>
                <div class="favbtn">
                  <a class="favorite" href="#" onclick="test( '{{ value.title }}' )">Add To Favorites</a>
                </div>
              </a>
            </div>
            <div class="moviedata">
              <span class="movietitle">{{ value.title }}</span>
              <br><span class="datahead actors">Actors:</span> {{ value.actors }}
              <br><span class="datahead popcornscore">Popcorn Score:</span> {{ value.popcornScore }}, <span class="datahead tomatoscore">Tomato Score:</span> {{ value.tomatoScore }}
              <br><span class="datahead releasedate">Release Date:</span> {{ value.theaterReleaseDate }}
              <br><span class="datahead runtime">Runtime:</span> {{ value.runtime }} <span class="datahead rating">Rating:</span> {{ value.mpaaRating }}
            </div>
          </div> -->

  </body>
  <!--Footer-->
  <footer class="text-muted bg-dark py-2 row justify-content-center mx-0">
      <p class="mb-0">Copyright ShaneSaravia 2018</p>
  </footer>
  <!--/Footer-->
</html>