{% load static %}
{% if moviedata %}
  <section class="movie-grid">
    {% for movie in moviedata %}
      <div class="movie-box">
        <a href="{{ movie.trailer }}">
          <div class="poster-wrapper">
            {% if movie.poster %}
              <img class="poster" src="{{ movie.poster }}">
            {% else %}
              <img class="poster" src="{% static 'images/error.png' %}">
            {% endif %}
            <div class="caption">
              {% if movie.synopsis|length > 475 %}
                <p class="text">{{ movie.synopsis|slice:':475' }}<span class="larger">...</span></p>
              {% else %}
                <p class="text">{{ movie.synopsis }}</p>
              {% endif %}
            </div>
            <div class="mini-bar">
              <span>{{ movie.language }}</span>
              <span><img class="star-icon" src="{% static 'images/star-icon.png' %}"></span> 
            </div>
          </div>
        </a>
        <div class="movie-data">
          <span class="movie-title">{{ movie.title }}</span>
          <br>
          <hr class="my-2">
          <span class="data-head actors">Genres:</span>
          {% for genre in movie.genre_set.all %}
            {% if not forloop.last %}
              {{ genre }},
            {% else %}
              {{ genre }}
            {% endif %}
          {% endfor %}
          <br>
          <span class="data-head actors">Actors:</span> {{ movie.actors }}
          <br>
          <img class="score" src="{% static 'images/popcorn.png' %}"> {{ movie.popcorn_score }}
          <img class="score" src="{% static 'images/tomato.png' %}"> {{ movie.tomato_score }}
          <br><span class="data-head releasedate">Release Date:</span> {{ movie.pretty_release_date }}
          <br><span class="data-head runtime">Runtime:</span> {{ movie.runtime }}
          <br><span class="data-head rating">Rating:</span> {{ movie.rating }}
        </div>
      </div>
    {% endfor %}
  </section>
{% else %}
<h3>No movies found.</h3>
{% endif %}
